<article class="col-10 col-offset-1 other-background">
  <% @user_wishlists.each do |user_wishlist| %>
  	<section>
	    <div class="col-4">
	      <%= image_tag user_wishlist.wishlist.icon %>
	    </div>

	    <div class="col-8">
	      <h3><%= link_to user_wishlist.wishlist.name, [@user, user_wishlist] %></h3>
	      <h4><%= link_to "#{user_wishlist.products.count} Productos", [@user, user_wishlist] if user_wishlist.products.any? %></h4>
	    </div>
	</section>
	<div class="row"></div>
  <% end %>
</article>
