<header class="col-12 no-padding">
  <%= image_tag "promo_pic1.png", class: "under not-bordered" %>
</header>

<div class="col-4 col-offset-4 threshold-overlaying">
  <%= image_tag "isotype.svg" %>
</div>

<div class="row"></div>

<div class="col-6 col-offset-3 top">
  <%= image_tag "logotype.svg" %>
</div>

<div class="col-10 col-offset-1 text-center top">
  <p>Maecenas feugiat, ipsum in rhoncus porta, dui nisi iaculis magna, at elementum mauris dui sollicitudin enim. Sed non mollis tellus, at ullamcorper nunc. Phasellus ut luctus purus. Sed efficitur pulvinar erat, at ullamcorper libero ullamcorper sed.</p>
</div>
