<div class="col-10 no-padding col-offset-1 top">	
	<%= render partial: "shared/aside_hr_left" %>
	<div class="col-6 no-padding">
		<h1 class="text-center">Editar tienda</h1>
	</div>
	<%= render partial: "shared/aside_hr_right" %>
</div>

<%= render 'stores/form' %>
