<div class="col-10 no-padding col-offset-1">	
	<div class="col-3 aside-hr-left">
	</div>
	<div class="col-6 no-padding">
		<h1 class="text-center">Crear tienda</h1>
	</div>
	<div class="col-3 aside-hr-right">
	</div>
</div>

<%= render partial: "stores/form" %>