<div class="col-12 top no-padding">
	<%= image_tag "default_cover_photo.png", class: "not-bordered" %>
</div>

<div class="col-3 col-offset-1 no-padding">
	<%= image_tag @user.avatar, class: "circle" %>
</div>

<div class="col-7">
	<%= link_to @user.name, @user %>
</div>