<div class="col-12">
	<%= image_tag "default-cover-photo" %>
</div>

<div class="col-3 col-offset-1 circle no-padding">
	<%= image_tag @user.avatar %>
</div>

<div class="col-7">
	<%= @user.name %>
</div>