<% if current_user.store.nil? %>
	<div class="col-4 col-offset-4 round-border">
		<%= link_to 'New Store', new_store_path, class: "overlaying" %>
	</div>
<% else %>
	<div class="col-4 col-offset-4 round-border">
		<%= image_tag "store.svg", class: "overlaying" %>
		<%= link_to 'Store', current_user.store, class: "overlaying" %>
	</div>
<% end %>