<% if current_user.store.nil? %>
	<div class="col-4 col-offset-4 round-border text-center no-padding">
		<%= link_to "Crea una Tienda", new_store_path, class: "button full-size" %>
	</div>
<% else %>
	<div class="col-4 col-offset-4 round-border text-center no-padding">
		<%= image_tag "promo_store.png", class: "under" %>
		<div class="principal-buttons-overlaying">
			<%= link_to image_tag("store.svg"), current_user.store %>
			<%= link_to "Administra tu tienda", current_user.store %>
		</div>
	</div>
<% end %>