<ul class="bxslider col-12 no-padding">
	<% @products.each do |product| %>
		<li class="col-4 half-padding">
			<%= link_to image_tag(product.photo), [product.store, product] %>
		</li>
	<% end %>
</ul>