<header class="cover-photo col-12">
  <!-- aquí irían las fotos del incio sin sesión -->
</header>

<div class="isotype col-3">
  <!-- aquí iría el isotipo sobre el header -->
</div>

<div class="logotype col-6">
  <!-- aquí iría el logotipo -->
</div>

<div class="description col-10">
  <p>Maecenas feugiat, ipsum in rhoncus porta, dui nisi iaculis magna, at elementum mauris dui sollicitudin enim. Sed non mollis tellus, at ullamcorper nunc. Phasellus ut luctus purus. Sed efficitur pulvinar erat, at ullamcorper libero ullamcorper sed.</p>
</div>

<div class="buttons col-3">
  <!-- aquí irían los tres botones, cada uno llamará a un ajax para que cambie el contenido -->
</div>
