<h1>Política de Privacidad</h1>
<p>Se le piden sus datos personales lo para efectos de crear su sesión y optimizar el contenido de sus búsquedas. Esta aplicación web es responsable de no revelar ninguna clase de información que le pertenezca (como email, listas de contactos y otros) fuera de la sesión individual de cada usuario.</p>
