$principalBrown: rgba(100, 50, 0, 1);
$lightBrown: rgba(200, 155, 110, 1);
$backgroundLinesBrown: rgba(200, 155, 110, 0.3);
$otherBackgroundBrown: rgba(200, 155, 110, 0.5);
$buttonBrown: rgba(155, 100, 50, 1);
$principalWhite: rgba(255, 255, 250, 1);
$lineRed: rgba(195, 40, 95, 1);
$lineYellow: rgba(255, 205, 0, 1);
$lineBlue: rgba(50, 50, 155, 1);
$lineLightBlue: rgba(50, 155, 205, 1);
$lineGreen: rgba(50, 155, 50, 1);
$facebook: rgba(59, 89, 152, 1);
$darkFacebook: rgba(44, 66, 113, 1);