$principalBrown: rgba(100, 50, 0, 1);
$buttonBrown: rgba(155, 100, 50, 1);
$principalWhite: rgba(255, 255, 250, 1);
$lineRed: rgba(195, 40, 95, 1);
$lineYellow: rgba(255, 205, 0, 1);
$lineBlue: rgba(50, 50, 155, 1);
$lineLightBlue: rgba(50, 155, 205, 1);
$lineGreen: rgba(50, 155, 50, 1);