@import "variables";

html, body{
	width: 100%;
	max-width: 375px;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	color: $principalBrown;
	background: repeating-linear-gradient(
		45deg,
		rgba(200, 155, 110, 0.3),
		rgba(200, 155, 110, 0.3) 1.5px,
		rgba(255, 255, 250, 1) 1.5px,
		rgba(255, 255, 250, 1) 5px
	);
	background-attachment: fixed;

}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	width: 100%;
	border-radius: 0.5em;
	vertical-align: top;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: $principalBrown;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.0em;
}


h5 {
	font-size: 0.8em;
}

h6 {
	font-size: 0.6em;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}