input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.photo-field {
	height: 95px;
	border-radius: 100%;
}

label.upload_product_photo,
label.upload_store_photo,
label.upload_cover_store_photo {
	cursor: pointer;
    display: inline-block;
}

label.upload_product_photo, 
label.upload_store_photo {
    width: 50%;
    margin: 30% 25%;
    padding: 0;
}


label.upload_cover_store_photo {
    padding: 0;
    width: 100%;
}

label.upload_product_photo img,
label.upload_store_photo img,
label.upload_cover_store_photo img {
	border-radius: 0;
}