@import "variables";

input[type="text"], 
input[type="number"] {
    border: none;
    border-bottom: 1px solid;
}

textarea {
	width: 100%;
	height: 5em;
	resize: none;
	border: 1px solid;
}

input[type="text"], 
input[type="number"],
textarea {
	padding: 5px;
	border-color: $lightBrown;
	color: $principalBrown;
	background: $principalWhite;
}

input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.photo-field {
	height: 94px;
	border-radius: 100%;
	background: $principalWhite;
	border: 1px dashed $lightBrown;	
}

.product-photo-field {
	height: 125px;
	border-radius: 0.5em;
	background: $principalWhite;
	border: 1px dashed $lightBrown;	
}

label.upload_product_photo,
label.upload_store_photo,
label.upload_cover_store_photo {
	cursor: pointer;
    display: inline-block;
}

label.upload_product_photo, 
label.upload_store_photo {
    width: 50%;
    margin: 30% 25%;
    padding: 0;
}


label.upload_cover_store_photo {
    padding: 0;
    width: 100%;
}

label.upload_product_photo img,
label.upload_store_photo img,
label.upload_cover_store_photo img {
	border-radius: 0;
}

input[type="submit"] {
	border: 0;
}

input.star[type="submit"] {
	background: image-url("star.svg") no-repeat center center transparent;
	height: 4em;
	width: 2em;
	vertical-align: middle;
	cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="file"] {
	width: 100%;
}

input.price,
input.distance {
	width: 80%;
}

input.price[type=number]::-webkit-inner-spin-button, 
input.price[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input.phone-number {
	width: 60%;
}

.to-replace-with-cover-photo {
	width: 100%;
	height: 117px;
	background: $principalWhite;
	border: 1px dashed $lightBrown;	
}
	
.other-background input[type="text"],
.other-background input[type="number"],
.other-background textarea {
	color: $darkBrown;
	border: none;
}

.check-box-label * {
	margin: 0 1em;
}

.check-box-label *:first-child {
	margin: 0 0.25em;
}