@import "variables";

path {
	fill: $principalBrown;
}

.white path {
	fill: $principalWhite;
}

.white {
	fill: $principalWhite;
}

.facebook {
	fill: $facebook;
}

.light-brown {
	fill: $lightBrown;
}

.active path {
	fill: $principalBrown;
}