@import "variables";

path {
	fill: $principalBrown;
}

.white path {
	fill: $principalWhite;
}

.white {
	fill: $principalWhite;
}

.facebook {
	fill: $facebook;
}

.instagram {
	fill: $instagram;
}

.light-brown {
	fill: $lightBrown;
}

.active path {
	fill: $principalBrown;
}

.yellow {
	fill: $lineYellow;
}

.lightBrown {
	fill: $buttonBrown;
}

.brown {
	fill: $principalBrown;
}