@import "variables";

path {
	fill: $principalBrown;
}

.white path {
	fill: $principalWhite;
}

.white {
	fill: $principalWhite;
}

.facebook {
	fill: $facebook;
}

.instagram {
	fill: $instagram;
}

.light-brown {
	fill: $lightBrown;
}

.page-active path {
	fill: $principalBrown;
}

.red {
	fill: $lineRed;
}

.yellow {
	fill: $lineYellow;
}

.blue {
	fill: $lineBlue;
}

.light-blue {
	fill: $lineLightBlue;
}

.green {
	fill: $lineGreen;
}

.lightBrown {
	fill: $buttonBrown;
}

.brown {
	fill: $principalBrown;
}