img {
	max-width: 100%;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

header.header-perpetual {
	top: 0;
	position: fixed;
	z-index: 9;
}

footer.footer-perpetual {
	bottom: 0;
	position: fixed;
	z-index: 9;
}

.circle {
	border-radius: 100%;
	overflow: hidden;
}

main {
	margin: 7.5em 0 7.5em 0; 
}

.float-right {
	float: right;
}

.dropDownMenu li ul {
	display: none;
	position: absolute;
	background: red;
	width: 41.66666666666667%;
}

.no-padding {
	padding: 0;
}

.half-padding {
	padding: 0.5em;
}