img.not-bordered {
	border-radius: 0px;
}

img.icon {
	border-radius: 0px;
	width: 10%;
}

a.circle img {
	border-radius: 100%;
}

header.header-perpetual {
	top: 0;
	position: fixed;
	z-index: 9;
	max-width: 375px;
	margin: 0 auto;
}

footer.footer-perpetual {
	bottom: 0;
	position: fixed;
	z-index: 9;
	max-width: 375px;
	margin: 0 auto;
}

.circle {
	border-radius: 100%;
	overflow: hidden;
}

main {
	margin: 5.5em 0 7.5em 0;
	bottom: 10em;
}

main div {
	margin: 0.5em 0 0.5em 0;
}

.linebreak {
	background: image-url("hr.svg") no-repeat center center transparent;
	clear: both;
	height: 2px;
}

.aside-hr-left {
	background: image-url("aside_hr_left.svg") no-repeat center center transparent;
	margin-top: 1.5em;
}

.aside-hr-right {
	background: image-url("aside_hr_right.svg") no-repeat center center transparent;
	margin-top: 1.5em;
}


img.less-size, a.less-size img {
	width: 75%;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}

.no-padding {
	padding: 0;
}

.no-top-padding {
	padding-top: 0;
}

.half-padding {
	padding: 0.5em;
}

.double-padding-sides {
	padding: 0 1.75em;
}

.top {
	top: 0;
	margin-top: -1em;
}

.bottom {
	bottom: 0;
	margin-top: 3em;
}
.round-border {
	border-radius: 0.5em;
}

.inline * {
	display: inline;
}

.align-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.accordion {
	cursor: pointer;	
}

div.panel {
	display: none;
}

div.panel.show {
}

input[type="submit"] {
	border: 0;
}

input.star[type="submit"] {
	background: image-url("star.svg") no-repeat center center transparent;
}

input[type="text"],
input[type="number"],
input[type="file"] {
	width: 100%;
}

textarea {
	width: 100%;
}

input.price[type="number"] {
	width: 90%;
}
