img {
	max-width: 100%;
	border-radius: 0.5em;
}

img.not-bordered {
	border-radius: 0px;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

header.header-perpetual {
	top: 0;
	position: fixed;
	z-index: 9;
	max-width: 375px;
	margin: 0 auto;
}

footer.footer-perpetual {
	bottom: 0;
	position: fixed;
	z-index: 9;
	max-width: 375px;
	margin: 0 auto;
}

.circle {
	border-radius: 100%;
	overflow: hidden;
}

main {
	margin: 7.5em 0 7.5em 0; 
}

main div {
	margin: 0.5em 0 0.5em 0;
}

.linebreak {
	background: image-url("hr.svg") no-repeat center center transparent;
	clear: both;
	height: 2px;

}

img.less-size {
	width: 75%;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}

.float-right {
	float: right;
}

.dropDownMenu li ul {
	display: none;
	position: absolute;
	background: red;
	width: 41.66666666666667%;
}

.no-padding {
	padding: 0;
}

.half-padding {
	padding: 0.5em;
}

.round-border {
	border-radius: 0.5em;
}

.inline * {
	display: inline;
}

.align-right {
	text-align: right;
}

input[type="submit"] {
	border: 0;
}

input.heart[type="submit"]
{
	background: image-url("heart.svg") no-repeat center center transparent;
}