@import "variables";

.under {
	position: relative;
	z-index: -3;
}

.principal-buttons-overlaying {
	z-index: 3;
	padding: 2em 2em 0 2em;
	margin-top: -115%;
	position: absolute;
	width: 100%;
}

.store-field-overlaying {
	z-index: -1;
	padding: 0;
	margin-top: -19%;
}

.store-overlaying, .profile-overlaying  {
	z-index: -1;
	padding: 0;
	margin-top: -17.5%;
}

.title-overlaying {
	z-index: -1;
	margin-top: -22.5%;
}


.icon-store-overlaying {
	z-index: -1;
	padding: 0;
	margin-top: -25%;
}

.carrousel-icon-store-overlaying {
	z-index: 1;
	padding: 0;
	margin-top: -25%;
	position: absolute;
}

.carrousel-icon-store-overlaying svg{
	width: 100%;
}

.information-product-overlaying {
	position: absolute;
	z-index: 2;
	margin-top: -20%;
}

.buttons-product-overlaying {
	z-index: 1;
	margin-top: -10%;
	position: absolute;
}

.threshold-overlaying {
	z-index: -1;
	margin-top: -20.5%;
}

@-moz-document url-prefix() {
	.threshold-overlaying svg{
		background: $principalWhite;
		border-radius: 100%;
		border: 0.5em solid $principalWhite;
	}

	.border-white {
		background: $principalWhite;
		border-radius: 100%;
		border: 0.5em solid $principalWhite;
	}
}

.up-overlaying {
	margin-top: -100%;
	z-index: 3;
}