.under {
	position: relative;
	z-index: -3;
}

.principal-buttons-overlaying {
	z-index: -1;
	padding: 2em 2em 0 2em;
	margin-top: -115%;
}

.store-overlaying {
	z-index: -1;
	padding: 0;
	margin-top: -20%;
}

.profile-overlaying {
	z-index: -1;
	padding: 0;
	margin-top: -20%;
}

.store-field-overlaying {
	z-index: -1;
	padding: 0;
	margin-top: -43%;
}

.title-overlaying {
	z-index: -1;
	margin-top: -25%;
}


.icon-store-overlaying {
	z-index: -1;
	padding: 0;
	margin-top: -30%;
}

.information-product-overlaying {
	z-index: -1;
	margin-top: -20%;
}

.buttons-product-overlaying {
	z-index: -1;
	margin-top: -19%;
}

.threshold-overlaying {
	z-index: -1;
	margin-top: -20%;
}

.absolute {
	position: absolute;
}