.svg-threshold-mask {
	-webkit-mask-image: image-url("threshold_mask.svg");
	mask-image: image-url("threshold_mask.svg");
}

.svg-store-mask {
	-webkit-mask-image: image-url("store_mask.svg");
	mask-image: image-url("store_mask.svg");
}