.svg-threshold-mask {
	-webkit-mask-image: image-url("threshold_mask.svg");
	mask-image: image-url("threshold_mask.svg");
}

.svg-store-and-profile-mask {
	-webkit-mask-image: image-url("store_and_profile_mask.svg");
	mask-image: image-url("store_and_profile_mask.svg");
}

.svg-product-mask {
	-webkit-mask-image: image-url("product_mask.svg");
	mask-image: image-url("product_mask.svg");
}